* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'montserrat';
}

body {
    width: 100%;
    height: 100vh;
    background-color: #333;
    background-image: url(https://scontent.fnat1-1.fna.fbcdn.net/v/t31.18172-8/12440291_554964988012490_109372231208123248_o.jpg?_nc_cat=101&ccb=1-5&_nc_sid=9267fe&_nc_eui2=AeHLRtsRXkLIWKc2-KiczjY2N_fqAFJIWMg39-oAUkhYyI55lUkmHBI35644qB8byW4_fHr9KAOfLVcgI6PIbYCs&_nc_ohc=Bu2wcXLm4y8AX_VMuqV&_nc_ht=scontent.fnat1-1.fna&oh=00_AT9FgcQTMY8uwi2B33fQFLjjrPTsNcIUWcQdKRO1V42Mgw&oe=61FC6118);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.card {
    width: 340px;
    height: 480px;
    cursor: pointer;
}

.back, .front {
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: 0.6s linear;
    background-color: black;
}

.front img {
    width: 100%;
}

.front {
    transform: perspective(600px) rotateY(0deg);
}

.back {
    background-image: url(https://scontent.fnat1-1.fna.fbcdn.net/v/t1.6435-9/71282868_1296569197190216_7165730574882045952_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeFQ3DfYjesNbqBjplRaSX90sJXcr_1dBsmwldyv_V0Gyb3sOw8gUinp9ai94dWpZqzCfCjOnKvkAxsJHrjH5WbJ&_nc_ohc=U1sqQTMgFrUAX-YpELq&_nc_ht=scontent.fnat1-1.fna&oh=00_AT9pBO_QBEzux-R2gyB-0AVCt6k97fDBEWrhpvZQpfYy6A&oe=61FBD58B);
    background-repeat: no-repeat;
    background-position: -80px;
    background-size: cover;
    background-color: #000000;
    transform: perspective(600px) rotateY(180deg);
}

.back_content {
    color: #000000;
    text-align: center;
    width: 100%;
}

.icons img {
    margin: 30px 10px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-size: 18px;
    transition: 0.4s ease-in-out;
    
}

.icons img:hover {
    background-color: #9ba0a5;
    color: #fff;
}

.card:hover .front {
    transform: perspective(600px) rotateY(-180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(0deg);
}


